* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {

}

#cover {
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.2)) ,url('/Restaurant_POS/task45/img/main.jpg') top center / cover no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

#text {
    font-family: sans-serif;
    position: absolute;
    color: white;
    top: 40%;
    left: 40%;
    font-size: 30px;
    letter-spacing: 2px;
}